*{
  margin: 0em;
  padding: 0em;
}
#body-main{background-color: #0FAE5F;width: 1250px;height: 600px;margin-left: auto; margin-right: auto;}
.level-one{background-color: #69E8A8;width: 95%;height: 95%;margin: auto;}
.level-two{background-color: #36CF82;width: 95%;height: 95%;margin: auto;}
.level-three{background-color: #91FAC6;width: 95%;height: 95%;margin: auto;}
.level-four{background-color: #69E8A8;width: 95%;height: 95%;margin: auto;}
.level-five{background-color: #DEFFEF;width: 95%;height: 95%;margin: auto;}
