/*Custom Elements*/


.blue{background-color: #3535BF;}
.bluelight{background-color: #CCCCEF;}
.pink{background-color: #BF359D;}
.yellow{background-color: #E4E810;}
.green{background-color: #07B321;}
.greenlight{background-color: #C1ECC8;}
.black{background-color: #212529;}
.orange{background-color: #FD7E14;}
.graylight{background-color: #CFCECD;}
.graydark{background-color: #707070;}
.white{background-color: #FFFFFF;}
p{color: #212529;}
