html {
 box-sizing: border-box;
 -ms-overflow-style: scrollbar;
}

*,::after,::before {
 box-sizing: inherit;
}

/* *{
  margin: 0em;
  padding: 0em;
} */
/* #body-main{background-color: #0FAE5F;width: 1250px;height: 600px;margin-left: auto; margin-right: auto;}
.level-one{background-color: #69E8A8}
.level-two{background-color: #36CF82}
.level-three{background-color: #91FAC6}
.level-four{background-color: #69E8A8}
.level-five{background-color: #DEFFEF} */

.five-h{
  width: 576px;
  height: 576px;
  /* min-width:576px; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color:#3535BF ;
}
.seven-h{
  width: 768px;
  height: 768px;
  /* min-width:768px; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #BF359D;
}
.nine-h{
  width: 992px;
  height: 992px;
  /* min-width:992px; */
  padding-right: -15px;
  padding-left: -15px;
  margin-right: auto;
  margin-left: auto;
  background-color:#E4E810 ;
}
.one-t{
  width: 1200px;
  height: 1200px;
  /* min-width:1200px; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color:#07B321 ;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: ;
}

@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}
