*{
  margin: 0em;
  padding: 0em;
}
#body-main{background-color: #0FAE5F;width: 1250px;height: 600px;margin-left: auto; margin-right: auto;}
.level-one{background-color: #69E8A8;width: 95%;height: 95%;margin: auto;}
.level-two{background-color: #36CF82;width: 95%;height: 95%;margin: auto;}
.level-three{background-color: #91FAC6;width: 95%;height: 95%;margin: auto;}
.level-four{background-color: #69E8A8;width: 95%;height: 95%;margin: auto;}
.level-five{background-color: #DEFFEF;width: 95%;height: 95%;margin: auto;}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}
